
<hr>

<div>
  <div class= "w-25">
    <h2>
      Send Asset
    </h2>

    <form action="/insert_trade" method="post">

      <div>
        <label for="reciever_id_box">
          Reciever
        </label>

        <input type="text" id="reciever_id_box" name="query_reciever_id">
      </div>

      <div>
        <label for="asset_id_box">Asset</label>
        <select class="form-select w-25" id="asset_id_box" name="query_asset_id">
          <option selected>Choose...</option>
          <% @asset_totals.each do |asset|%>
          <option value="<%= asset[3]%>"><%= asset[0]%></option>
          <% end %>
        </select>
      </div>

      <!-- <div>
        <label for="asset_id_box">
          Asset
        </label>

        <input type="text" id="asset_id_box" name="query_asset_id">
      </div> -->

      <div>
        <label for="asset_quantity_box">
          Quantity
        </label>

        <input type="text" id="asset_quantity_box" name="query_asset_quantity">
      </div>

      <button class="btn btn-warning">
        Send asset
      </button>
    </form>
  </div>
</div>

<hr>

<H2>Your Assets</H2>

<div>
  <table class="table table-dark table-striped table-sm w-25">
    <tr>
      <th>Asset</th>
      <th>Amt. Owned</th>
      <th>Value</th>
    </tr>

    <% @asset_totals.each do |asset|%>
      <tr>
      <td><%=asset[0]%></td>
      <td><%=asset[1]%></td>
      <td><%=number_to_currency(asset[2])%></td>
      </tr>
    <% end %>

    <tr>

    <th class="text-warning">Net value</th>
    <th> </th>
    <th>
      <%= number_to_currency(@net_value)%>
    </th>
    
    </tr>
  </table>
</div>

<!-- <hr>
<div>
  <div>
    <table class="table table-dark table-striped table-sm w-25">
      <tr>

        <th>
          Asset
        </th>

        <th>
          Quantity
        </th>

        <th>
          Value
        </th>
      </tr>

      <% @list_of_trades.each do |a_trade| %>
      <tr>

        <td>
          <%= a_trade.asset.ticker %>
        </td>

        <td>
          <%= a_trade.asset_quantity %>
        </td>

        <td>
          <%= number_to_currency(a_trade.asset_quantity.to_f * a_trade.asset.price_in_usd) %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr> -->
